span {
    font-style: italic;
}
.black {
    font-weight: bold;
}
.conteiner {
    text-align: center;
    background-color: rgb(214, 24, 24);
}
.Gerb>img {
    width: 300px;
}
.Gerb {
    display: inline-block;
}
.sostav {
    background-color: rgb(246, 32, 32);
    display: inline-block;
    border-style: solid;
    border-width: 0.5px;
    padding-right: 4px;
}
.test {
    background-color: rgb(2, 10, 15);
    display: inline-block;
}
.test-2 {
    display: inline-block;
}
.sostav>p {
    text-align: center;
}
