body {
    margin: 0;
    padding: 0;
}

| span {
    font-style: italic;
}

.black {
    font-weight: bold;
}

.conteiner {
padding-left: 15px;
text-align: center;
    background-color: rgb(223, 10, 10);
}


.sostav {
    background-color: rgb(234, 8, 8);
    display: inline-block;
    border-style: solid;
    border-width: 0.5px;
    padding-right: 4px;
}

.sostav>p {
    text-align: center;
}

.img-text>img {
    width: 250px;
    float: right;
    border-style: solid;
}

/*верхняя навигационная панель*/

.panel {
    background-color: crimson;
    display: flex;
    justify-content: space-between;
}

.panel>nav>ul {
    align-items: center;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;

}

.panel>nav>ul>li>a {
    display: block;
    padding: 10px;
    border-style: solid;
    border-width: 0.5px;
}

@media (max-width: 900px){
    .panel {
        flex-direction: column;
    }
}

/*Панель справа и панель слева*/

.panel-osnova {
    display: flex;
    justify-content: center;
}

.panel-l {
    width: 14%;
    background-color: aqua;
}

.panel-p {
    width: 82%;
}

.panel-l>ol {
    list-style: none;
    border-style: solid;
    border-width: 0.5px;
    margin: 10px;
    padding: 0;
    padding-bottom: 10px;
}
.panel-l>div {
    width: 100%;
}
.panel-l>div>img {
    width: 100%;
}